/********** default **********/
#content {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0
}
.main,
.main li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main {
  margin-bottom: 5px;
}
.main li {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.main li.item2,
.main li.item3,
.main li.item4 {
  display: none;
}
.main li:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

.thumb {
    display: inline-flex;
}
.thumb,
.thumb li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.thumb li {
  /*display: inline-block;*/
  width: 33%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  vertical-align: top;
  margin-bottom: 4px;
}
.thumb li img {
  width: 100%;
  height: auto;
}
.thumb li:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}